@charset "utf-8";

/* 최근게시물 스킨 (latest) */
.pic {position:relative}
.pic .lt_title {line-height: 65px;padding: 0 25px;;border-bottom:1px solid #e8e8e8;font-size: 1.154em;display:block}
.pic .more {display: inline-block;padding: 0 23px;text-decoration: none;color: #c8c5c3;position: absolute; top: 0;right: 0; line-height: 65px;font-size:18px}
.pic ul:after {display:block;visibility:hidden;clear:both;content:""}
.pic li{float:left;width:25%;border-left:1px solid #f2f2f2;padding:20px}
.pic li:first-child{border:0}
.pic li:hover{background:#f9fbfc}
.pic li .lt_img{text-align:Center}
.pic li img{max-width:100%;height:auto}
.pic li .lt_tit{display:block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size:1.077em;margin:10px 0}
.pic li .lt_tit:hover{color:#696ae6}
.pic .lt_info{line-height:20px;color:#9a9aa1;font-size:0.923em;position:relative;}
.pic li .lt_date {display:inline-block;position:relative;margin-left:5px;padding-left:7px}
.pic li .lt_date:before{content:'';position:absolute;top:50%;left:0;margin-top:-1px;width:3px;height:3px;background:#ddd}
.pic li .lt_cmt{position:absolute;top:0;right:0;color:#696ae6}
.pic .fa-download{width:16px;height:16px;line-height:16px;background:#e89f31;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;}
.pic .fa-link{width:16px;height:16px;line-height:16px;background:#ad68d8;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;font-weight: normal;}
.pic .fa-heart{width:16px;height:16px;line-height:16px;background:#ff66b0;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;;font-weight: normal;}
.pic .new_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#ffff00;background:#6db142;border-radius:4px;text-align:center;vertical-align:middle;}
.pic .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #4f818c;background: #cbe3e8;text-align: center;border-radius: 4px;font-size: 12px;border:1px solid #a2c6ce}

@media (max-width:639px){
   .pic li{width:50%;}
   .pic li:nth-child(2n+1){clear:both}
}
