@charset "utf-8";

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_gall a.btn_b01 {}
#bo_gall a.btn_b01:focus, #bo_gall .btn_b01:hover {}
#bo_gall a.btn_b02 {}
#bo_gall a.btn_b02:focus, #bo_gall .btn_b02:hover {}
#bo_gall a.btn_admin {} /* 관리자 전용 버튼 */
#bo_gall a.btn_admin:focus, #bo_gall a.btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v .btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v .btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {}
#bo_w .btn_cancel {}
#bo_w .btn_frmline {} /* 우편번호검색버튼 등 */

/* 기본테이블 */
/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_address {}
#bo_w .frm_file {}
#bo_w .frm_info {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 caption {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

#bo_w .required, #bo_w textarea.required {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 갤러리 목록 */
#bo_gall h2 {margin:0;padding:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}

#bo_gall #gall_allchk {margin:0 10px}

#bo_gall #gall_ul {margin:10px -10px 0;padding:0 10px;list-style:none}
#bo_gall #gall_ul:after {display:block;visibility:hidden;clear:both;content:""}

#bo_list_total{position:absolute;top:20px;right:15px;line-height:20px;color:#656565;font-size:0.923em}

#bo_cate h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_cate {background:#fff;color:#333;
-webkit-box-shadow0 0 10px #eee ;
-moz-box-shadow:0 0 10px #eee  ;
box-shadow: 0 0 10px #eee;
white-space: nowrap;overflow-x: auto;
-webkit-overflow-scrolling: touch
 -ms-overflow-style: -ms-autohiding-scrollbar;}
#bo_cate::-webkit-scrollbar {display: none;}
#bo_cate ul{padding:0 10px}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_cate li{display:inline-block;padding:0 15px}
#bo_cate li a{display:block;line-height:55px;color:#333947}
#bo_cate #bo_cate_on{position:relative;font-weight:bold}
#bo_cate #bo_cate_on:before{width:100%;content:'';height:3px;background:#696ae6;position:absolute;bottom:0;left:0}


#bo_gall{margin:20px 0}
#bo_gall .gall_li_wr{background:#fff;position:relative;border-radius: 5px;
-webkit-box-shadow: 0 2px 10px #e3e3e3;
   -moz-box-shadow: 0 2px 10px #e3e3e3;
    box-shadow: 0 2px 10px #e3e3e3;}
#bo_gall .gall_li_chk{display:inline-block;padding:5px;}
#bo_gall .gall_li .gall_img img{width:100%;height:auto}
#bo_gall .gall_li .gall_img .no-img{display:block;background:#ddd;text-align:center;padding:30% 0}

#bo_gall .gall_now .gall_text_href a {color:#ff3061}

#bo_gall .gall_href a:link, #bo_gall .gall_href a:focus, #bo_gall .gall_href a:hover {text-decoration:none}
#bo_gall .gall_href strong, #bo_gall .gall_href span {display:block;width:174px;height:124px;background:#f7f7f7;text-align:center;line-height:8em}

#bo_gall .gall_text_href {padding:15px;display:block}
#bo_gall .gall_li_tit{display:inline-block;margin:5px 0;font-weight:bold}
#bo_gall .bo_cate_link {display:inline-block;;color:#696ae6 ;border:1px solid #696ae6;font-weight:normal;text-decoration:none;font-size:0.92em;line-height:22px;border-radius:5px;padding:0 6px} /* 글제목줄 분류스타일 */
#bo_gall .profile_img img{border-radius:50%}
#bo_gall .gall_info{padding:5px 0 0;color:#86909a}
#bo_gall .gall_info:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_gall .gall_info strong{display:inline-block;font-weight:normal;margin-left:6px}
#bo_gall .gal_heart{float:right;}
#bo_gall .gal_heart i{color:#ff0000}
#bo_gall .sv_member{;color:#86909a;font-weight:normal}

#bo_gall .notice_icon{display: inline-block;background: #696ae6;text-align:center;width:24px;line-height: 24px;border-radius: 5px;font-weight: normal;font-size:11px;color: #fff;}

@media (min-width: 640px){
    #bo_gall .gall_li {float:left;;width:33.33%;padding:10px}
    #bo_gall .gall_li:nth-child(3n+1) {clear:both}

}

@media (max-width: 639px){
    #bo_cate {margin:0 -10px ;}
    #bo_cate li a{line-height:40px}
    #bo_list_total{top:15px;right:10px}
    #bo_gall .gall_li{width:50%;float:left;padding:10px}
    #bo_gall .gall_li:nth-child(2n+1) {clear:both}

}

/* 게시판 목록 공통 */
.bo_fx {margin-bottom:5px;padding:5px 10px}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
.btn_bo_user {margin:10px 0;padding:0;list-style:none;float:right}
.btn_bo_user:after {display:block;visibility:hidden;clear:both;content:""}
.btn_bo_user>li {float:left;margin-left:5px;position:relative}
.btn_bo_adm {text-align:center}
.btn_bo_adm li {display:inline-block;}
.btn_bo_adm button {border:0;padding:0 10px;background:#d13f4a;color:#fff;text-decoration:none;vertical-align:middle}.bo_notice td {background:#f7f7f7}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_current {color:#e8180c}
.td_subject img {margin-left:3px}
.cnt_cmt {font-weight:bold}

.btn_edit{display:none;position:absolute;top:40px;right:0;width:100px;background:#fff; border:1px solid #d4d4d4;z-index:599;
-webkit-box-shadow: 0 2px 3px #eee;
-moz-box-shadow:  0 2px 3px #eee;
box-shadow: 0 2px 3px #eee}
.btn_edit li {line-height:40px;width:100%;float:none;border-top:1px solid #f1f1f1;font-size:12px !important;text-align:left;padding:0 10px;position:relative}
.btn_edit li button{width:100%;font-size:12px !important;text-align:left;color:#6b757c !important;height:40px;background:none;border:0}
.btn_edit li i{position:absolute;top:0;right:10px;line-height:40px;font-size:14px !important;;color:#92a1af}
.btn_edit li:hover{background:#f8f8f8}
.btn_edit li a {color:#6b757c;font-size:12px !important}
.edit_op_btn{background:none;border:0;line-height:45px;width:30px;color:#adaaa7;font-size:15px}
.bo_notice td {background:#f5f6fa}

#bo_sch {float:left;background:#fff;border:1px solid #c2c9d9;position:relative;margin:10px 0 20px;
-webkit-box-shadow:inset 2px 2px 2px #eee;
-moz-box-shadow:inset 2px 2px 2px #eee;
box-shadow:inset 2px 2px 2px #eee
}
#bo_sch:after {display:block;visibility:hidden;clear:both;content:""}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#bo_sch select{border:0;height:45px;border-right:1px solid #f8f8f8;float:left;padding:0 10px}
#bo_sch .sch_input{height:45px;border:0;padding:0;background-color:transparent;float:left;padding:0 40px 0 10px}
#bo_sch .sch_btn{height:45px;position:absolute;top:0;right:0;border:0;width:40px;background:none;font-size:15px}

.view_is_list.btn_top{position:relative;z-index:auto;top:0;left:0}
.view_is_list{margin:8px 10px 0;height:50px;padding:10px;line-height:30px;border-radius:3px;border-bottom:1px solid #ccc;background:#fff;color:#333;text-align:right}
.view_is_list li{display:inline-block}

#bo_gall li.empty_list {padding:30px 0;text-align:center}

#bo_gall .fa-download{width:16px;height:16px;line-height:16px;background:#e89f31;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;}
#bo_gall .fa-link{width:16px;height:16px;line-height:16px;background:#ad68d8;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;font-weight: normal;}
#bo_gall .fa-heart{width:16px;height:16px;line-height:16px;background:#ff66b0;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;;font-weight: normal;}
#bo_gall .new_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#ffff00;background:#6db142;text-align:center;vertical-align:middle;}
#bo_gall .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#fff;background:#e52955;text-align:center;;vertical-align:middle;font-weight:normal}
#bo_gall .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #4f818c;background: #cbe3e8;text-align: center;border-radius: 4px;font-size: 12px;border:1px solid #a2c6ce}


@media (max-width: 639px){
    #bo_sch{width:100%;}
}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#wr_email, #wr_homepage, #wr_subject, .wr_link {width:100%}

/* 게시판 읽기 */
.view_tit{display:none}
#bo_v {background:#fff;margin-bottom:20px}

#bo_v_table {padding: 10px;color:#999;font-size:0.9em;font-weight:bold}

#bo_v_title {padding-top: 20px;text-align:left}
.bo_v_cate{display: inline-block;color: #696ae6;border: 1px solid #696ae6;font-weight: normal;text-decoration: none;font-size: 0.92em;line-height: 22px;border-radius: 5px; padding: 0 6px;margin:5px 20px ;}
.bo_v_tit{display:block;font-size:1.5em;margin:5px 20px }

#bo_v_info {position:relative;padding:10px 70px 20px 20px ;border-bottom:1px solid #eee;text-align:left;color:#767e86;line-height:20px;}
#bo_v_info h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;font-weight:normal;margin:0 5px}
#bo_v_info .profile_img img{border-radius:50%;vertical-align:top}
#bo_v_info .icon_view{display:inline-block;background:url(./img/icon_view.png) no-repeat 50% 50%;background-size:80%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin:0 3px 0 5px}
#bo_v_info .icon_comment{display:inline-block;background:url(./img/icon_comment.png) no-repeat 50% 50%;background-size:70%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin:0 3px 0 5px}

#bo_v_edit{position:absolute;bottom:0;right:0;margin-top:-15px}
#bo_v_edit .view_btn{width:50px;height:45px;background:none;border:0;font-size: 15px;color: #9ea2a5;}
#bo_v_edit .view_btn:hover{color:#0060ff}
#bo_v_edit .bo_v_left{display:none;position:absolute;top:40px;right:0;width:100px;background:#fff; border:1px solid #d4d4d4;z-index:599;
-webkit-box-shadow: 0 2px 3px #eee;
-moz-box-shadow:  0 2px 3px #eee;
box-shadow: 0 2px 3px #eee}
#bo_v_edit .bo_v_left li {line-height:40px;width:100%;float:none;border-top:1px solid #f1f1f1;font-size:12px !important;text-align:left;padding:0 10px;position:relative}
#bo_v_edit .bo_v_left li button{width:100%;font-size:12px !important;text-align:left;color:#6b757c !important;height:40px}
#bo_v_edit .bo_v_left li i{position:absolute;top:0;right:10px;line-height:40px;font-size:14px !important;;color:#92a1af}
#bo_v_edit .bo_v_left li:hover{background:#f8f8f8}
#bo_v_edit .bo_v_left li a {color:#6b757c;font-size:12px !important}.bo_notice td {background:#f5f6fa}

#bo_v_file {padding:0 20px 20px}
#bo_v_file h2 {background:#949ab4;color:#fff;margin-bottom:1px;line-height:35px;padding: 0 10px}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding: 10px;border-bottom:1px solid #fff;background:#f1f7fa;color:#777}
#bo_v_file a {display:block;color:#000;text-decoration:none;margin:0 0 3px}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file a strong{color:#3497d9;text-decoration:underline}
.bo_v_file_cnt {font-size:0.92em}

#bo_v_link{padding:0 20px 20px }
#bo_v_link h2 {background:#949ab4;color:#fff;margin-bottom:1px;line-height:35px;padding: 0 10px}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding: 10px;border-bottom:1px solid #fff;background:#f1f7fa;color:#777}
#bo_v_link a {display:block;color:#000;text-decoration:none;margin:0 0 3px}
#bo_v_link a strong{color:#3497d9;text-decoration:underline}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {font-size:0.92em}

#bo_v_top {margin:20px}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}
#bo_v_top ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top ul li{display:inline-block;}
.bo_v_left{float:left}
.bo_v_right{float:right}

#bo_v_bot {text-align:right;margin:20px 0}

.bo_v_nb{margin:10px 0;background:#fff;text-align:left;position:relative;}
.bo_v_nb:after {display:block;visibility:hidden;clear:both;content:""}
.bo_v_nb li {border-bottom:1px solid #f8f8f8}
.bo_v_nb li a{display:inline-block;padding:15px 10px}
.bo_v_nb li i{color:#d1d7de;width:30px;text-align:center;}

#bo_v_atc {min-height:200px;padding:20px}
#bo_v_atc_title {margin:0;padding:0;height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img a.view_image{display:block}
#bo_v_img img {margin-bottom:15px;max-width:100%;height:auto}

#bo_v_con {min-height:200px;margin-bottom:20px;width:100%;font-size:1.250em;line-height:1.7em;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act a:hover{background-color:#f3f3f3}

#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_act .bo_v_good{border:1px solid #ff1313;color:#ff1313;padding:0 20px}
#bo_v_act .bo_v_good:hover{background:#f8eeee}
#bo_v_act .bo_v_nogood{border:1px solid #dedede;color:#888;padding:0 20px}
#bo_v_act .bo_v_good i,#bo_v_act .bo_v_nogood i{font-size:18px;}
#bo_v_share{position:relative;margin:0 0 20px;text-align:right}
#bo_v_share:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_share .btn_scrap{display:inline-block;line-height:40px;border:1px solid #d2d2d2;background:#fff;float:left;padding:0 15px;border-radius:50px;color:#5f5f5f}
#bo_v_share .btn_scrap:hover{background:#f3f3f3}
.btn_share{display:none;}
.bo_v_snswr{position:relative;float:right}
#bo_v_sns {;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;width:40px;text-align:center;margin-left:3px}
#bo_v_sns li a{height:40px;padding:10px 0;border-radius:50px}
#bo_v_sns li .sns_f{display:block;background:#415b92}
#bo_v_sns li .sns_f:hover{background:#3a69b6}
#bo_v_sns li .sns_t{display:block;background:#35b3dc}
#bo_v_sns li .sns_t:hover{background:#1ec7fe}
#bo_v_sns li .sns_g{display:block;background:#d5503a}
#bo_v_sns li .sns_g:hover{background:#f4482c}
#bo_v_sns li .sns_k{display:block;background:#fbe300}
#bo_v_sns li img{vertical-align:top}

/* 게시판 댓글 */
.cmt_btn{text-align:left ;width:100% ;border:0;color:#696ae6;font-weight:bold;font-size:1.154em;margin: 20px 0 ;padding:0  0 20px;background:none;position:relative}
.cmt_btn:before{position:absolute;bottom:0;left:0;width:30px;height:1px;background:#696ae6;content:''}
#bo_vc {}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:0 0 20px;position:relative}
#bo_vc header {line-height:20px;color:#888d94}
#bo_vc .comment_profile_img img, #bo_vc .profile_img img{border-radius:50%}
#bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
#bo_vc h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {margin:5px 0 ;line-height:1.8em;border-bottom:1px solid #e8e8e8;padding-bottom:20px}
#bo_vc .cmt_contents  p{font-size:1.083em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline;color:#ed6479}
#bo_vc_empty {margin:0;padding:25px 0!important;text-align:center;color:#999}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc .cmt_opt{position:absolute;top:0;right:0;width:30px;height:30px;background:none;border:0;color:#9d9d9d}
#bo_vc .bo_vl_act{top:30px}
#bo_vc .comment_profile_img{position:absolute;top:0;left:0}
.bo_vc_hdinfo{display:block}
#bo_vc .profile_img img{display:none}
.bo_vc_act {text-align:right;;margin:0;list-style:none}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {display:inline-block;margin:0 2px}
.bo_vc_act li a{color:#3497d9;text-decoration:underline}

.bo_vc_w {position:relative;margin:10px 0;display:block;}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w textarea{;width:100%;height:120px}
#wr_secret{}
.bo_vc_w_info{margin:5px 0}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input{float:left;;width:49.5%;margin: 0 0 5px 0}
.bo_vc_w_info #wr_password{float:right;}
.bo_vc_w_info #captcha{;display:block;clear:both}
.bo_vc_w .btn_confirm{margin-top:5px;float:right;}
.bo_vc_w .icon_lock{display:inline-block;padding: 5px;margin-right:5px;}
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w  .bo_vc_secret{float:left;display:block;}

#bo_vc_send_sns{display:block;float:left}
#bo_vc_sns {display:block;margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 5px 0 0}
#bo_vc_sns .sns_li_f{border-radius:3px;background:#3a589b;height:40px;;padding: 10px 0 10px 10px}
#bo_vc_sns .sns_li_t{border-radius:3px;background:#00aced;height:40px;;padding: 10px 0 10px 10px}
#bo_vc_sns .sns_li_off{background:#bbb}
#bo_vc_sns a{display:inline-block;padding:0 15px 0 5px;}
#bo_vc_sns input {margin:0 5px 0 0 }


@media (min-width: 640px){
    #bo_vc article{padding-left:50px;margin-bottom:30px}
    #bo_vc .cmt_contents{padding-bottom:30px}
    .bo_vc_hdinfo{display:inline-block;padding-left:5px;}
}
@media (max-width: 639px){
    #bo_vc header{padding-left:50px}
}

/*글쓰기*/
#bo_w {background:#fff;padding:20px;margin:20px 0}
#bo_w .bo_w_select select{border:1px solid #3497d9;background:#fff;width:100%}
#bo_w .bo_w_link label{position:absolute;top:1px;left:1px;border-radius:3px 0 0 3px;height:38px;line-height:38px;width:40px;background:#eee;text-align:center}
#bo_w .bo_w_link .frm_input{padding-left:50px}
#bo_w .bo_w_flie .lb_icon{position:absolute;top:0px;left:0px;border-radius:3px 0 0 3px;height:38px;line-height:38px;width:40px;background:#eee;text-align:center}
#bo_w .bo_w_flie .frm_file{padding-left:50px;}
#bo_w .bo_w_flie .file_wr{border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;height:40px;margin:0}
#bo_w .bo_w_flie .frm_input{margin:5px 0 0 }

